@import 'fonts';
.overview {
    height: 100%;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: linear-gradient( to right, rgba($primaryColor, 0.7), rgba($primaryColor, 0.3)), url('') center top;
    background-size: cover;
    &-header {
        padding-top: 1.5rem;
        &__top {
            padding-top: 1.5rem;
        }
        &__title {
            font-size: 1.3rem;
            padding-bottom: .5rem;
            padding-top: .5rem;
            margin-bottom: 1rem;
            color: $secondaryColor;
            background: linear-gradient( to right, rgba($primaryColor, 0.8), rgba($primaryColor, 0.2));
            font-family: $shapiro-air;
            border-top: 2px solid set-text-color($primaryColor);
            border-bottom: 2px solid set-text-color($primaryColor);
        }
    }
    &-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
        background: linear-gradient( to right, rgba($primaryColor, 0.8), rgba($primaryColor, 0.2));
    }
}