@import 'config';
@import 'overview';
@import 'fonts';
@import 'responsive';
@import 'buttons';
#root {
    $background-color: #16152b;
    $text-color: #CACEFC;
    height: 100%;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: $shapiro-feather;
    font-weight: 400;
    line-height: 1;
}

ul li {
    list-style-type: none;
    text-align: left;
}

h1,
h2,
h3 {
    font-size: 1rem;
    font-weight: 600;
    color: set-header-color($headerColor);
}

a {
    color: set-text-color($primaryColor);
    text-decoration: none;
}

button {
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.App-header {
    position: relative;
    z-index: 2;
    height: auto;
    padding: 10px;
    top: .8rem;
    align-content: center;
    vertical-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    color: ($secondaryColor);
    background: linear-gradient( to right, rgba($headerColor, 0.3), rgba($primaryColor, 1), rgba($headerColor, 0.3));
    border: 2px solid set-text-color($primaryColor);
    border-radius: 10px;
    & .NameTheBar {
        text-align: left;
    }
    & .social-icons {
        z-index: 2;
        text-align: right;
        a {
            padding: 0 0.4rem 0 0.4rem;
            @include transition-ease;
            &:hover {
                color: $orange;
            }
        }
    }
    & .App-header__btn {
        align-content: right;
        text-align: right;
        color: var(--text-color);
        @include transition-ease;
        &:hover {
            color: $orange;
        }
    }
    & .Time {
        text-align: right;
    }
}

#main {
    height: 100%;
    position: sticky;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 4.5vh;
    padding: 10px;
    border: 2px solid set-text-color($primaryColor);
    border-radius: 10px;
    background: linear-gradient( to right, rgba($headerColor, 0.3), rgba($primaryColor, 1), rgba($headerColor, 0.3));
}

.custom-bg img {
    border-radius: 10px;
}

table {
    @include transition-ease;
    width: 100%;
    & thead {
        & tr {
            color: set-header-color($headerColor);
        }
    }
    // Why this not working??? 
    & tbody {
        & tr.table-row {
            border: 2px solid set-borderLine-color($orange);
        }
        &:nth-child(1) {
            padding-bottom: 10px;
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    width: 100%;
    height: 3rem;
    background: linear-gradient( to top, rgba($primaryColor, 1.0), rgba($primaryColor, 0.0)), url('') center top;
    bottom: 0.4rem;
    text-align: right;
    color: set-header-color($headerColor);
    padding: 1.3rem;
}

.hide {
    display: none;
    @include transition-ease;
}

i {
    align-self: right;
    text-align: right;
}

// .paraScroll {
//     padding-top: .5rem;
// }