.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Wrap-info {
    background-color: #282c34;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: white;
}

.Bartenders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    text-align: left;
    grid-gap: 10px;
}

.Serving-mode {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    text-align: left;
    grid-gap: 10px;
}

.Queing-mode {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    text-align: left;
    grid-gap: 10px;
}

.Taps-being-used {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    text-align: left;
    grid-gap: 10px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    font-size: calc(10px + 2vmin);
}